
/* General style */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

/* Header */
header {
    background-color: #0077cc;
    color: white;
    text-align: center;
}
h2{
   text-align: center;
    
}

/* Centered form */
main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    
}

form {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
}

/* Inputs y botones */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
/*designs for the button*/
button {
    width: 100%;
    padding: 0.8em;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005fa3;
}

/* Reply message */
#answer {
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
}

/* Footer */
footer {
    background-color: #0077cc;
    font-size: 0.9em;
    color: #fffafa;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*measure for computer adaptability*/
@media (max-width: 1024px) {
    body {
      background-color: rgb(250, 250, 250);
    }
    
  }
/*measure for table adaptability*/
@media (max-width: 768px) {
    body {
      background-color: rgb(250, 250, 250);
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

  }
/*measure for movile adaptability*/
@media (max-width: 480px) {
    body {
      background-color: rgb(250, 250, 250);
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }


}